
* {
  font-family: "lato";
  /* font-size: 1em; */
}

:root {
  --darkgreen: #648381;
  --light-green: #e5ebea;
  --pink: #ddb8a6;
  /* font-size: calc(16px + 2vw); */
}



/* Navigation bar styling  */
nav{
  background-color: black;
  color: white;
  text-align: center;
  font-size: 2vmax;
}


/* Button styling - nav links  */
.nav-button {
  border-color: white;
  background-color: black;
  color: white;
  margin: 1.5%;
  width: 50%;

}

/* When hover on the button, pops up */
button:hover {
  transform: translateY(-2px);
}


/* Header box styling */
header {
  background-color: var(--pink);
  width: 80%;
  margin: auto;
  color: white;
  }

/* Julia Gray's Portfolio styling */
h1 {
  text-align: center;
  font-size: 100px;
  margin: 10px;
  padding: 30px;
}

.img-container{
  width: 200px;
  height: 250px;
  margin-top: 10%;
  }

.img-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.links-container, .cv-container{
  background-color: aqua;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-around;
  padding: 5%;
}

.about-me{
  background-color: #e5ebea;
  text-align: center;
  font-size: 2vmax;
}

.c-container{
  margin: auto;
  width: 70%;
  height: 70%;
  padding: 30px;
}

.row{ 
  background-color: yellow;
}

.about-me-text{
  text-align: center;
}

/* @media (min-width: 600px) {
  :root {
    font-size: 3vw;
  }
} */