
* {
  font-family: "lato";
  font-size: 2vmax
}

:root {
  --darkgreen: #648381;
  --light-green: #e5ebea;
  --pink: #ddb8a6;
  
}


.card-container{
  background-color: aliceblue;
}

.card{
  width: 26rem;
  
}

/* Navigation bar styling  */
nav, footer{
  background-color: black;
  color: white;
  text-align: center;
  
}


/* Button styling - nav links  */
.nav-button, #more-work-button, .cv-button {
  border-color: white;
  background-color: black;
  color: white;
  margin: 1.5%;
  width: 10rem;
}

.cv-button{
  background-color: var(--light-green);
  color: black;
}

#more-work-button{
  background-color: var(--darkgreen);
  }


/* When hover on the button, pops up */
button:hover {
  transform: translateY(-2px);
}


/* Header box styling */
header {
  background-color: var(--pink);
  width: 100%;
  margin: auto;
  color: white;
  margin-top: 2%;
  }

/* Julia Gray's Portfolio styling */
h1, h2 {
  text-align: center;
  margin: 10px;
  }

.img-container{
  width: 300px;
  height: 350px;
  margin: auto;
  margin-top: 10%;
  }

.img-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

 .flexbox{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-around;
  padding: 5%;
}

.right-arrow{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: end;
}


.about-me{
  background-color: #e5ebea;
  text-align: center;
  flex-wrap: wrap;
  padding: 1%;
  }

.c-container{
  margin: auto;
  width: 100%;
  height: 100%;
  }


.about-me-text{
  text-align: center;
  margin: auto;
}

.main-section{
  background-color: var(--darkgreen);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 2%;
  width: 100%;
 }